/* Select2 Css */
.select2-container {
    position: relative;
    display: grid;
    width: 100% !important;
    z-index: 1055;
    &.select2-container--open {
        &.select2-container--default .select2-selection--single .select2-selection__arrow::after {
            transform: translate(50%, -50%) rotate(-135deg) !important;
            margin-top: 0;
        }
    }
    &--open {
        width: -webkit-fill-available !important;
        @include responsive(allPhone) {
            width: -webkit-fill-available !important;
        }
    }
    &--default {
        .select2-selection--single {
            background-color: #fff;
            border: 1px solid var(--border-color-two);
            border-radius: 4px;
            position: relative;
            height: 50px;
            .select2-selection__rendered {
                color: var(--new-paragraph-color);
                height: 50px;
                line-height: 50px;
                padding-right: 30px;
            }
            .select2-selection__arrow {
                bottom: 0px;
                right: 6px;
                height: 50px;
                line-height: 50px;
                position: absolute;
                &::after {
                    content: "";
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, -50%) rotate(45deg);
                    top: 50%;
                    font-size: 14px;
                    height: 8px;
                    width: 8px;
                    border-right: 2px solid var(--new-body-color);
                    border-bottom: 2px solid var(--new-body-color);
                    background-color: transparent;
                    margin-top: -3px;
                    transition: all .3s;
                }
                b {
                    display: none;
                }
            }
        }
        .select2-search--dropdown  {
            .select2-search__field {
                border: 1px solid var(--new-border-color);
            }
        }
        .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: var(--new-main-color-one);
        }
        .select2-results__option--selected {
            background-color: rgba(var(--new-main-color-one-rgb),.2);
        }
    }
    .dropdown-wrapper {
        transition: all .3s;
    }
    .select2-dropdown {
        border: 1px solid var(--new-border-color);
    }
    .select2-results__option {
        background-color: rgba(var(--new-main-color-one-rgb),.05);
        color: var(--new-main-color-one);
        &:not(:first-child) {
            border-top: 1px solid rgba(var(--new-main-color-one-rgb),.1);
        }
    }
}
.without_border {
    .select2-container {
        display: inline-block;
    &--default {
        .select2-selection--single {
            border: 0;
            height: 24px;
            .select2-selection__rendered {
                height: 24px;
                line-height: 24px;
                padding: 0 50px 0 0;
            }
            .select2-selection__arrow {
                height: 24px;
                line-height: 24px;
                &::after {
                    border-right: 2px solid var(--new-body-color);
                    border-bottom: 2px solid var(--new-body-color);
                }
            }
        }
    }
    .dropdown-wrapper {
        transition: all .3s;
    }
    }
}
/* Multiple select  */

.select2.select2-container .select2-selection--multiple {
    height: 50px;
    overflow-y: auto;
}
.select2-container--default {
    .select2-selection--multiple {
        background-color: white;
        border: 1px solid var(--border-color-two);
        border-radius: 4px;
        cursor: text;
        padding-bottom: 5px;
        padding-right: 5px;
        position: relative;
        &:focus {
            border: 1px solid var(--border-color-two);
        }
        .select2-search--inline {
            .select2-search__field {
                margin-top: 0;
                height: 32px;
            }
        }
        .select2-selection__rendered {
            display: block;
            padding: 0 4px;
            margin: 0;
        }
        .select2-selection__choice {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 4px 4px 0 0;
            padding: 0 6px 0 22px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            position: relative;
            .select2-selection__choice__remove {
                position: absolute;
                top: 0;
                left: 0;
                height: 22px;
                width: 22px;
                margin: 0;
                text-align: center;
                color: #e74c3c;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}

  