
//== Abstract page
@import "global/mixins";
@import "global/variables";
// @import "global/global";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
// Plus Jakarta Sans fonts
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// Manrope fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --main-color-one: #FF6B2C;
    --main-color-one-rgb: 255, 107, 44;
    --main-color-two: #4D77FF;
    --main-color-two-rgb: 77, 119, 255;
    --dashboard-bg: #F6F8FA;
    --section-bg-1: #F7F8FF;
    --section-bg-2: #F5F5F5;
    --heading-color: #1D2635;

    --border-color: #EAECF0;
    --border-color-2: #ddd;
    --body-color: #999;
    --paragraph-color: #666;
    --white: #ffffff;
    --black: #111111;
    --success-color: #65c18c;
    --success-color-rgb: 101, 193, 140;
    --delete-color: #ee0000;
    --delete-color-rgb: 238, 0, 0;
    --review-color: #F49D1A;
    --review-color-rgb: 244, 157, 26;
    --heading-font: 'Plus Jakarta Sans', sans-serif;
    --body-font: 'Manrope', sans-serif;
    // Promo Color
    --promo-one: #4D77FF;
    --promo-one-rgb: 77, 119, 255;
    --promo-two: #FFB100;
    --promo-two-rgb: 255, 177, 0;
    --promo-three: #65c18c;
    --promo-three-rgb: 101, 193, 140;
    --promo-four: #FF6B2C;
    --promo-four-rgb: 255, 107, 44;
    --promo-five: #d1d401;
    --promo-five-rgb: 209, 212, 1;
    --promo-six: #0033a0;
    --promo-six-rgb: 0, 51, 160;
    --promo-seven: #008ada;
    --promo-seven-rgb: 0, 138, 218;
    --promo-eight: #dc5eff;
    --promo-eight-rgb: 220, 94, 255;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
}

body {
    margin: 0;
    color: var(--body-color);
    overflow-x: hidden;
    font-family: var(--body-font);
    font-size: 14px;
    line-height: 26px;
    @include responsive(xxs) {
        font-size: 15px;
    }
    @include responsive(vxxs) {
        font-size: 14px;
    }
}

h1 {
    font-size: 64px;
    line-height: 1.0833333333333333;
}

h2 {
    font-size: 44px;
    line-height: 1.4444444444444444;
    @include responsive(allPhone) {
        font-size: 30px;
    }
    @include responsive(xs) {
        font-size: 27px;
    }
    @include responsive(xxs) {
        font-size: 26px;
    }
    @include responsive(vxxs) {
        font-size: 24px;
    }
}

h3 {
    font-size: 32px;
    line-height: 1.0833333333333333;
    @include responsive(allPhone) {
        font-size: 26px;
    }
    @include responsive(xs) {
        font-size: 25px;
    }
    @include responsive(xxs) {
        font-size: 24px;
    }
    @include responsive(vxxs) {
        font-size: 22px;
    }
}

h4 {
    font-size: 24px;
    line-height: 1.0833333333333333;
    @include responsive(xs) {
        font-size: 23px;
    }
    @include responsive(vxxs) {
        font-size: 21px;
    }
}

h5 {
    font-size: 20px;
    line-height: 1.2380952380952381;
    @include responsive(vxxs) {
        font-size: 18px;
    }
}

h6 {
    font-size: 16px;
    line-height: 1.2380952380952381;
    @include responsive(vxxs) {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin: 0;
    @include transition(300ms);
}

p {
    color: var(--light-color);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    color: var(--extra-light-color);
    @include transition(300ms);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

pre {
    word-break: break-word;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

.list-style-none,
.list_none {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    counter-reset: counter;
    padding-left: 0;
}

ol li:before {
    counter-increment: counter;
    content: counter(counter);
    font-weight: 500;
    margin-right: 10px;
}

span {
    display: inline-block;
}

.desktop-center {
    text-align: center;
}

.form--control {
    width: 100%;
}

.color-heading {
    color: var(--heading-color);
}

.bg-gray {
    background-color: var(--border-color);
}

.section-bg-1 {
    background-color: var(--section-bg-1);
}

.section-bg-base {
    background-color: var(--section-bg-base);
}

.section-bg-2 {
    background-color: var(--section-bg-2);
}

.section-bg-gradient {
    background: var(--bg-gradient);
}

.footer-bg-1 {
    background-color: var(--footer-bg-1);
}

.footer-bg-2 {
    background-color: var(--footer-bg-2);
}

.copyright-bg-1 {
    background-color: var(--copyright-bg-1);
}

.color-one {
    color: var(--main-color-one);
}

.color-completed {
    color: var(--success-color);
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.no-margin {
    margin: 0;
}

.lazyloads {
    display: block;
}

.center-text {
    text-align: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;
}
.flex_between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.form-message {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    @include transition (.3s);
    color: var(--paragraph-color);
    @include box-shadow(0,
    0,
    10px,
    transparent);
    &:focus {
        border-color: rgba(var(--main-color-one-rgb), .2);
        @include box-shadow(0,
        0,
        10px,
        rgba(var(--main-color-one-rgb),
        .1));
    }
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-5 {
    border-radius: 5px;
}
/* Custom Form */

.input-form {}

.single-flex-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-grow: 1;
    @include responsive(xxs) {
        display: block;
        flex-wrap: wrap;
    }
}

.label_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    color: var(--heading-color);
}

.form--control,
.form-control {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
    -moz-appearance: textfield;
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    border: 1px solid var(--border-color);
    background-color: unset;
    outline: none;
    color: var(--paragraph-color);
    @include transition(300ms);
    @include box-shadow(0, 0, 10px, rgba($white, .1));
    &:focus {
        border-color: rgba(var(--main-color-one-rgb), .3);
        @include box-shadow(0, 0, 10px, rgba(var(--main-color-one-rgb), .1));
    }
    @include responsive(xxs) {
        font-size: 15px;
    }
    @include responsive(vxxs) {
        font-size: 14px;
    }
}

.custom-form {
    .single-flex-input {
        &:not(:first-child) {
            margin-top: 25px;
        }
        .single-input,
        .form-group {
            margin-top: 0 !important;
            .js_nice_select {
                width: 100%;
            }
        }
    }
    .single-input,
    .form-group {
        width: 100%;
        &:not(:first-child) {
            margin-top: 25px;
        }
        .label-title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            display: block;
            margin-bottom: 10px;
            color: var(--heading-color);
            @include responsive(xxs) {
                font-size: 15px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
            }
        }
        .input-icon {
            position: absolute;
            bottom: 15px;
            left: 15px;
        }
        .iti {
            width: 100%;
        }
        .form--control,
        .form-control {
            &.input-padding-left {
                padding-left: 45px;
            }
            &#phone {
                width: 100%;
                padding-left: 50px;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                -moz-appearance: textfield;
            }
            -moz-appearance: textfield;
            width: 100%;
            height: 55px;
            line-height: 55px;
            padding: 0 15px;
            border: 1px solid var(--border-color);
            background-color: unset;
            outline: none;
            color: var(--paragraph-color);
            @include transition(300ms);
            @include box-shadow(0, 0, 10px, rgba($white, .1));
            &:focus {
                border-color: rgba(var(--main-color-one-rgb), .3);
                @include box-shadow(0, 0, 10px, rgba(var(--main-color-one-rgb), .1));
            }
            @include responsive(xxs) {
                font-size: 15px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
            }
        }
        textarea,
        .form-message {
            width: 100%;
            line-height: 24px;
            padding: 5px 15px;
            border: 1px solid var(--border-color);
            background-color: unset;
            outline: none;
            color: var(--paragraph-color);
            @include transition(300ms);
            @include box-shadow(0, 0, 10px, rgba($white, .1));
            &:focus {
                border-color: rgba(var(--main-color-one-rgb), .3);
                @include box-shadow(0, 0, 10px, rgba(var(--main-color-one-rgb), .1));
            }
            &.textarea-height {
                height: 100px;
            }
        }
        &-icon {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 55px;
                width: 2px;
                background-color: #f3f3f3;
                bottom: 0;
                left: 40px;
            }
            .form--control,
            .form-control {
                padding-left: 50px;
                position: relative;
            }
        }
        &-select {
            width: 100%;
            border: 1px solid var(--border-color);
        }
    }
    textarea {
        height: unset !important;
    }
    .submit-btn {
        margin-top: 25px;
    }
}

.submit-btn {
    border: 2px solid var(--main-color-one);
    background-color: var(--main-color-one);
    color: $white;
    padding: 12px 20px;
    @include transition(300ms);
    &:hover {
        background-color: rgba(var(--main-color-one-rgb), .9);
    }
}

.photo-uploaded {
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 2px dashed #ddd;
    cursor: pointer;
    position: relative;
    flex-grow: 1;
    padding: 10px;
    &-padding {
        padding: 20px;
    }
    &.center-text {
        .photo-uploaded {
            &-flex {
                justify-content: center;
            }
        }
    }
    &-flex {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    &-icon {
        font-size: 28px;
        color: var(--light-color);
    }
    &-para {
        font-size: 16px;
        color: var(--paragraph-color);
    }
    &-file {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
    }
}


/* Toggle Password hide Show */

.single-input {
    position: relative;
}

.toggle-password {
    position: absolute;
    bottom: 13px;
    right: 20px;
    cursor: pointer;
}

.hide-icon {
    display: none;
}

.toggle-password.show-pass .hide-icon {
    display: block;
}

.toggle-password.show-pass .show-icon {
    display: none;
}

// Section page
@import "sections/buyer_panel";
@import "elements/table";